@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="tarjeta mt-3">
                    <div class="titulo"><u> @ViewData["Title"]</u></div>
                    <div class="cuerpo">
                        <section>
                            <p>
                                "Send confirmation email" is under development. Please
                                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}

