@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Easy Shop</h1>
    <h4 class="display-6">The best Store online</h4>    
</div>

<div class="row">
    <div class="col-12">
        <img src="~/images/hero.png" class="hero" />
    </div>
</div>

<div class="centerContent MT-4">
    COME AND SEE <a asp-area="" asp-controller="Home" asp-action="Index">OUR PRODUCTS</a>
</div>

